@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
*{
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calc{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 1rem;
    border: 2px solid silver;
    padding: 1rem;
    background-color: #121212;
}
#display{
    grid-column: 1/5;
}
.cbutton{
    box-shadow: 0 0 0.2rem 0.2rem black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.cbutton:hover{
    translate: 0 -3px;
}